.covid_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 100%;
}

.covid_header h1 {
  margin: 10px 10px 10px 5px;
  font-size: 1.5rem;
}

.covid_header button {
  height: 2rem;
  width: 7rem;
  margin-right: 10px;
  outline: none;
  border-radius: 10px;
}
