.infoBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 3px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #222222;
}

.infoBox_title {
  font-size: 18px;
  font-weight: 500;
  justify-items: center;
}

.infoBox_total {
  font-size: 24px;
  font-weight: 500;
  justify-items: center;
  padding-top: 10px;
}
