.weather {
  display: grid;
  padding: 10px;
  margin: 10px;
  width: 25%;
  height: 84%;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(216, 216, 216);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "search";
}

.search-box .search-bar {
  grid-area: search;
  /* display: block; */
  height: 25px;
  width: 96%;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  color: #1b1b1b;
  font-size: 18px;
  padding-left: 15px;
  transition: 0.4s ease;
  border: none;
  outline: none;
}

.search-bar:focus {
  background-color: rgba(211, 211, 211, 0.75);
}

.weather .weather-i {
  display: grid;
  grid-template-columns: 200px 250px;
  grid-template-rows: 40px 115px 30px;
  grid-template-areas:
    "location icon"
    "temp icon"
    "type date";
}

.location_box {
  margin-top: 10px;
}

.location {
  grid-area: location;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  width: 150px;
  text-align: center;
  padding-top: 0;
  align-self: start;
  justify-self: start;
  height: 20px;
  width: 75%;
  margin: 0 0 15px 5px;
}

.temp {
  grid-area: temp;
  color: rgb(0, 0, 0);
  font-size: 100px;
  font-weight: 500;
  align-self: start;
  justify-self: start;
}

.weather-area {
  grid-area: icon;
  align-self: end;
  justify-self: end;
}

.weather-icon {
  height: 60%;
  width: 60%;
  padding-left: 60px;
}

.date {
  font-size: 24px;
  font-weight: 500;
  grid-area: date;
  align-self: center;
  justify-self: center;
  padding-left: 20px;
}

.weather-type {
  color: black;
  grid-area: type;
  font-size: 24px;
  font-weight: 500;
  align-self: center;
  justify-self: center;
}
